* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}
/* Utility markup */
.main-headers {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 500;
  color: #444;
  margin: auto;
  padding-bottom: 5px;
}

.divider {
  width: 70px;
  border: 2px #bb1600 solid;
  margin: auto;
}

.start-here {
  width: 200px;
  height: 45px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  color: #fff;
  background: #bb1600;
  border-radius: 25px;
  cursor: pointer;
}

p {
  color: #383838;
  font-size: 17px;
  font-weight: 300;
}
/* navigation */
#navbar {
  width: 80%;
  position: fixed;
  z-index: 100;
}

#navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbar ul .nav-block {
  padding: 10px 20px;
  font: 18px;
}

#navbar #logo a {
  color: #bb1600;
  font-size: 38px;
  font-weight: 800;
}
/* Showcase container */
.black-btn {
  position: absolute;
  font-size: 18px;
  color: #fff;
  background: #000;
  border-radius: 25px;
  padding: 13px 20px;
  cursor: pointer;
  right: 15px;
  top: 15px;
  text-transform: uppercase;
}

#showcase-background-img {
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  position: relative;
}

.showcase-container {
  color: #fff;
  text-align: center;
  padding-top: 250px;
  margin: 0 auto;
}

.showcase-container .showcase-text {
  font-size: 60px;
  font-weight: 200;
  padding-bottom: 20px;
}

.showcase-container .showcase-text .text-highlight {
  font-weight: 400;
}

.showcase-container #free {
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 70px;
}

.showcase-container .show-start {
  border: 1px solid #fff;
}

.center .container-2 {
  padding: 100px 0 100px;
  text-align: center;
}

.container-2 .text-container {
  margin: auto;
}

.container-2 #center-content {
  margin: auto;
  width: 70%;
  padding-top: 25px;
}

.container-2 .container-2-image {
  padding: 40px;
}

.section-3 {
  background-color: #f6f7f9;
  padding: 60px 0 100px;
}

.container-3 {
  display: inline-flex;
}

.section-3 #section-3-header {
  text-align: center;
}

.section-3 #section-3-img {
  padding: 45px 0 0 55px;
  width: 60%;
}

.section-3 .section-3-text {
  display: flex;
  flex-direction: column;
  padding: 45px 150px 0 70px;
  width: 40%;
}

.section-3 .section-3-text p {
  padding: 0 0 20px;
}
