* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  color: #383838;
  font-size: 17px;
  font-weight: 300;
  padding: 0 0 20px;
  line-height: 1.4;
}

/* Utility markup */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.main-headers {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 500;
  color: #444;
  padding-bottom: 5px;
  margin: 0;
}

.divider {
  background-color: #bb1600;
  width: 70px;
  height: 2px;
  margin: 10px 0 30px 0;
}

.centered {
  margin: 10px auto 30px auto;
}

.start-here {
  width: 200px;
  height: 45px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 45px;
  color: #fff;
  background: #bb1600;
  border-radius: 25px;
  cursor: pointer;
}

.second-header {
  font-weight: 200;
}

/* navigation */
#navbar {
  width: 80%;
  position: fixed;
  z-index: 100;
}

#navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbar ul .nav-block {
  padding: 10px 20px;
  font: 18px;
}

#navbar #logo a {
  color: #bb1600;
  font-size: 38px;
  font-weight: 800;
}
/* Showcase container */
.black-btn {
  position: absolute;
  font-size: 18px;
  color: #fff;
  background: #000;
  border-radius: 25px;
  padding: 13px 20px;
  cursor: pointer;
  right: 15px;
  top: 15px;
  text-transform: uppercase;
}

#showcase-background-img {
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  position: relative;
}

.showcase-container {
  color: #fff;
  text-align: center;
  padding-top: 250px;
  margin: 0 auto;
}

.showcase-container .showcase-text {
  font-size: 60px;
  font-weight: 200;
  padding-bottom: 20px;
}

.showcase-container .showcase-text .text-highlight {
  font-weight: 400;
}

.showcase-container h3 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 70px;
}

.showcase-container .show-start {
  border: 1px solid #fff;
}

/* section 2 */
.center .container-2 {
  padding: 100px 0 60px;
  text-align: center;
}

.container-2 .text-container {
  margin: auto;
  width: 70%;
  padding-top: 25px;
}

.container-2 .container-2-image {
  padding: 40px;
}

/* section 3 */
.section-3 {
  background-color: #f6f7f9;
  padding: 60px 0 100px;
}

.section-3 #section-3-header {
  text-align: center;
}

.container-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section-3 .container-3 #section-3-img {
  padding: 45px 0 0 55px;
  flex-basis: 60%;
}

.section-3 .container-3 .section-3-text {
  display: flex;
  flex-direction: column;
  padding: 45px 150px 0 70px;
  flex-basis: 40%;
  align-items: center;
}

/* section 4 */
.section-4 {
  background-color: #fff;
  padding: 100px 0 60px;
}

.section-4 .container-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-4 .section-4-text {
  display: flex;
  flex-direction: column;
  text-align: right;
  flex-basis: 60%;
  padding: 0 70px 0 150px;
}

.section-4 .container-4 .section-4-img {
  flex-basis: 40%;
}

/* section 5 */
.section-5 {
  background-color: #f6f7f9;
  text-align: center;
  padding: 100px 0 60px;
}

.section-5 .section-5-highlights {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 40px;
}

.section-5 .highlight-box {
  margin: 0 40px;
}

.section-5 .highlight-box-icon {
  margin: 70px 0 0;
}

.section-5 h4 {
  font-size: 22px;
  margin-top: 20px;
  color: #444;
}

footer {
  background-color: #333;
  padding: 40px 100px 20px 150px;
  display: grid;
  grid-template-columns: 25% 20% 20% 20%;
  grid-column-gap: 25px;
}

h5 {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
}

footer .footer-box {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

footer p {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

footer .footer-link {
  font-size: 16px;
  padding: 5px 0;
}
